* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    background-image: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    padding: 100px;
    padding-bottom: 0;
    color: white;
}

h1 {
    font-size: 40px;
    line-height: 1;
}

p {
    font-size: 14px;
}
#message {
    color: white;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-wrapper {
    padding: 20px 80px;
}

#trial {
    background-color:hsl(248, 32%, 49%);
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 5px hsla(0, 61%, 44%, 0.26);
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px hsla(0, 61%, 44%, 0.26);
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
}

#submit:hover {
    cursor: pointer;
}

#terms {
    color: hsl(246, 25%, 77%);
    font-size: 9px;
}

#terms a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

footer {
    grid-column: 1 / -1;
    margin-top: 30px;
    line-height: 1;
    text-align: center;
    font-size: 11px;
}

@media only screen and (max-width: 600px) {
    body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    background-image: url(/images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    padding: 5%;
    padding-bottom: 0;
    color: white;
}

h1 {
    font-size: 40px;
    line-height: 1;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}
#message {
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-wrapper {
    padding: 0;
}

#trial {
    background-color:hsl(248, 32%, 49%);
    margin: 40px 0;
    padding: 24px 120px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
    box-shadow: 0 5px hsla(0, 61%, 44%, 0.26);
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px hsla(0, 61%, 44%, 0.26);
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 20px;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
}

#submit {
    background-color: hsl(154, 59%, 51%);
    color: white;
}

#submit:hover {
    cursor: pointer;
}

#terms {
    color: hsl(246, 25%, 77%);
    font-size: 16px;
    margin: 0 30px;
}

#terms a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

footer {
    grid-column: 1 / -1;
    margin-top: 30px;
    line-height: 1;
    text-align: center;
    font-size: 11px;
}
}